# live-build working directories and outputs
.build/
cache/
chroot/
chroot.packages.*
binary/
binary.modified_timestamps
live-image-*
*.iso
*.img
*.log
config/binary
config/bootstrap
config/chroot
config/common
config/source
